<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>pro.meir.displaylink</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/DisplayLink Manager.app/Contents/MacOS/DisplayLinkUserAgent</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>StandardOutPath</key>
	<string>/Users/meirpro/Library/Logs/pro.meir.displaylink.out.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/meirpro/Library/Logs/pro.meir.displaylink.err.log</string>
</dict>
</plist>
